{% if page.intro_paragraph and page.intro_paragraph != '' %}
  <p class="intro">
    {{ page.intro_paragraph | markdownify | remove: '<p>' | remove: '</p>' }}
  </p>
  <style>
    header {
      color: black;
    }
    h1 {
      color: black;
      font-style: italic;
      font-family: cursive;
      font-size: 300%;
    }
    h2 {
      color: black;
      font-style: italic;
      font-family: cursive;
      font-size: 300%;
    }
    p {
      color: maroon;
      font-style: italic;
      font-family: cursive;
      font-size: 300%;
    }
    body {
      background-color: maroon;
    }
  </style>
{% endif %}
